body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff; /* 白基調 */
    color: #333; /* 文字の色 */
}

h2 {
    text-align: center; /* タイトルを中央寄せ */
    color: #649fb0; /* タイトルの色 */
}

.styled-table {
    border-collapse: collapse;
    margin: 10px auto; /* 中央寄せ */
    font-size: 0.9em;
    font-family: sans-serif;
    width: 90%; /* 幅を90%に設定 */
    max-width: 1000px; /* 最大幅を600pxに設定 */
    border-radius: 10px 10px 0 0; /* 上側だけ角丸 */
    overflow: hidden; /* 角丸を適用するため */
}

.styled-table thead tr {
    background-color: #649fb0; /* イメージカラー */
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3; /* 偶数行の背景色 */
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #649fb0; /* 最後の行の境界線 */
}

/* レスポンシブデザイン */
@media (max-width: 600px) {
    .styled-table {
        width: 95%; /* スマホでは表の幅を95%に設定 */
        font-size: 0.8em; /* スマホでは文字サイズを小さく */
    }
}

.note {
    margin: 10px auto;
    padding: 10px;
    font-size: 0.8em; /* 小さめのフォントサイズ */
    color: #666; /* グレーの文字色 */
    text-align: left; /* 左寄せ */
    width: 90%; /* 表の幅に合わせる */
    max-width: 1000px; /* 最大幅を設定 */
}

.basic-price {
    margin: 20px auto;
    padding: 10px;
    font-size: 1em; /* 通常のフォントサイズ */
    color: #333; /* 文字の色 */
    text-align: left; /* 左寄せ */
    width: 90%; /* 表の幅に合わせる */
    max-width: 1000px; /* 最大幅を設定 */
    background-color: #f9f9f9; /* 薄い背景色 */
    border-radius: 5px; /* 角を丸くする */
    border: 1px solid #ddd; /* 薄い境界線 */
}
